*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:sans-serif;
  background:#00C395;
}

.contenedor {
  color: #0097C3;
  text-align:center;
}

.form_municipio{
  width:60%;
  max-width: 500px;
  margin:auto;
  background:#01C300;
  border-radius: 7px;
}
