*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:sans-serif;
  background:#00C395;
}

.contenedor {
  color: #0097C3;
  text-align: center;
}

.form-municipio{
  width: 60%;
  max-width: 500px;
  margin: auto;
  background: #01C300;
  border-radius: 7px;
}

.titulo-form-municipio {
  background: #B63F49;
  color: #BE3C9C;
  padding: 8px;
  text-align: center;
  font-weight: 100px;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 10px solid crimson;
}
  
.contenedor-input {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabla-municipios {
  text-align: left;
  border: 1px solid darkgray;
}
